<%- include('include/_header') %>

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 mb-3">
            <div class="box p-5">
                <div class="col-md-12 text-center">
                    <h3 class="mt-4">تفعيل حسابات الأعضاء</h3>
                    <div class="col-md-12 text-center mt-3 mb-2">
                        <i class="fas fa-edit" style="font-size:50px;color:#54c5da;display:inline-block"></i>
                    </div>
                    <a href="/dashboard-members" class="btn">عرض</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="box p-5">
                <div class="col-md-12 text-center">
                    <h3 class="mt-4">توجيه الطلبات</h3>
                    <div class="col-md-12 text-center mt-3 mb-2">
                        <i class="fas fa-check-circle" style="font-size:50px;color:#54c5da;display:inline-block"></i>
                    </div>
                    <a href="/dashboard-requests" class="btn">عرض</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('include/_footer') %>