<%- include('include/_header') %>

<div class="container">
    <div class="row mt-5">
        <div class="col-md-6 mb-3">
            <div class="box p-5">
                <div class="col-md-12 text-center">
                    <h3 class="mt-4">احد اعضاء الادارة</h3>
                    
                    <a href="/login" class="btn mt-3">تسجيل دخول</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="box p-5">
                <div class="col-md-12 text-center">
                    <h3 class="mt-4">عضو حزب جديد</h3>
                    
                    <a href="/add-member" class="btn mt-3">انشاء حساب</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('include/_footer') %>